#set ($id = $request.getParameter('id'))
#if ($id)
#set ($channel = $services.p.channelService.findById($id))
#end
#set ($sections = $services.p.sectionService.sectionsOwnedBy(''))
<link rel="stylesheet" href="../res/codemirror/codemirror.css"/>
<link rel="stylesheet" href="../res/codemirror/theme/eclipse.css"/>
<style>
.CodeMirror {
	height: 600px;
}
</style>
<div id="container" class="container" channelid="$channel.id">
<div class="row">
	<div class="span9 offset3">
		<a class="btn btn-primary" onclick="saveChannel()">保存</a>
		<a class="btn btn-success" onclick="previewChannel()">预览</a>
		<a class="btn" href="index">取消</a>
	</div>
	<div class="span12">
		<textarea rows="40" class="input-block-level" id="template" name="template"></textarea>
	</div>
	<div class="span12">
		<div class="control-group">
	   		<label class="control-label">语法着色</label>
	   		<div class="controls synColor">
	   			<label class="radio inline"><input type="radio" name="rSynColor" value="velocity" checked="checked">Velocity</label>
	   			<label class="radio inline"><input type="radio" name="rSynColor" value="html">HTML</label>
	   		</div>
   		</div>
	</div>
	<div class="span9 offset3">
		<a class="btn btn-primary" onclick="saveChannel()">保存</a>
		<a class="btn btn-success" onclick="previewChannel()">预览</a>
		<a class="btn" href="index">取消</a>
	</div>
</div>
</div>
<div id="dlg-select-section" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>组件选择</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="selsection">可用组件</label>
            <div class="controls"><select id="selsection">
            </select></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" onclick="sectionSelected();">确定</button>
    </div>
</div>
<div class="hide" id="section-list">
#if ($sections.size() > 0)
	#foreach ($sec in $sections)
	<div id="$sec.id">
		<div class="title">$sec.displayName</div>
		<div class="template">$escapeTool.html($sec.template)</div>
	</div>
	#end
#end
</div>
<form id="previewForm" enctype="application/x-www-form-urlencoded" action="../preview/$channel.id" method="post" class="hide" target="_blank">
	<input type="text" name="id" value="$channel.id"/>
	<textarea name="template" id="previewTemplate"></textarea>
</form>
<script type="text/javascript" src="../res/codemirror/codemirror.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/css.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/xml.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/htmlmixed.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/javascript.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/vbscript.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/velocity.js"></script>
<script type="text/javascript" src="../res/js/call-edit.js"></script>
<script type="text/javascript" src="../res/js/channel-template.js"></script>
<script type="text/javascript">
$(function() {
	var templateText = "$!stringEscapeUtils.escapeJavaScript($channel.template)";
	$('#template').val(templateText);
	var mixedMode = {
		'name': 'htmlmixed',
		'scriptTypes': [{
			matches: /\/x-handlebars-template|\/x-mustache/i,
			mode: null
		}, {
			matches: /(text|application)\/(x-)?vb(a|script)/i,
			mode: "vbscript"
		}]
	};
	var velocityMode = {
		'name': 'velocity'
	};
	function makeTemplateEditor(synMode) {
		window.templateEditor = CodeMirror.fromTextArea(
			$('#template').get(0),
			{
				mode: synMode,
				tabMode: "indent",
				lineNumbers: true,
				theme: 'eclipse'
			}
		);
	}
	makeTemplateEditor(velocityMode);
	$('input[name="rSynColor"]').on('click', function() {
		var s = $('input[value="html"]').attr('checked');
		window.templateEditor.setOption('mode', s ? mixedMode : velocityMode);
	});
});
</script>