#set ($id = $request.getParameter('id'))
#if ($id)
#set ($script = $services.p.scriptService.get($id))
#end
<link rel="stylesheet" href="../res/codemirror/codemirror.css"/>
<link rel="stylesheet" href="../res/codemirror/theme/eclipse.css"/>
<div class="container">
	<div class="row">
	<div class="page-header span12">
		<div class="breadcumb span12">服务端脚本</div>
#if ($script)
		<h3>编辑脚本</h3>
		<input type="hidden" id="action" value="edit"/>
#else
		<h3>创建脚本</h3>
		<input type="hidden" id="action" value="new"/>
#end
	</div>
	</div>
	<div class="row">
		<form action="action/save-script" method="post" class="form-horizontal">
			<div class="control-group">
                <div class="controls">
                	<a class="btn btn-primary" onclick="save();">保存</a>
                	<a class="btn" href="scripts">返回</a>
                </div>
            </div>
			<fieldset><legend>脚本</legend>
				<div class="control-group">
	                <label class="control-label" for="script_id">名称</label>
#if ($script)
	                <div class="controls"><input type="hidden" id="script_id" name="name" value="$script.name"/>
	                <span class="uneditable-input">$script.name</span></div>
#else
	                <div class="controls"><input type="text" id="script_id" name="name"/>
	                <span class="help-inline">必须填写名称。</span></div>
#end
            	</div>
				<div class="control-group">
	                <label class="control-label" for="display_name">显示名称</label>
	                <div class="controls"><input type="text" id="display_name" name="displayName" value="$!script.displayName"/>
	                <span class="help-inline">用在管理界面。</span></div>
            	</div>
            	<div class="control-group">
            		<label class="control-label">脚本引擎</label>
            		<div class="controls synColor">
 #if ($script && $script.engine != 'unkown')
 						<label>$!script.engine</label>
 #else
            			<label class="radio inline"><input type="radio" name="engine" value="python" checked="checked">python</label>
            			<label class="radio inline"><input type="radio" name="engine" value="javascript">javascript</label>
 #end
            		</div>
            	</div>
				<div class="control-group">
	                <label class="control-label" for="template">源代码</label>
	                <div class="controls">
	                <span class="help-inline">脚本源代码。</span></div>
            	</div>
                <div class="span12"><textarea rows="20" class="input-block-level" id="template" name="sourceCode"></textarea></div>
			</fieldset>
			<div class="control-group">
                <div class="controls">
                	<a class="btn btn-primary" onclick="save();">保存</a>
                	<a class="btn" href="scripts">返回</a>
                </div>
            </div>
		</form>
	</div>
</div>
<script type="text/javascript" src="../res/codemirror/codemirror.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/javascript.js"></script>
<script type="text/javascript" src="../res/codemirror/mode/python.js"></script>
<script type="text/javascript" src="../res/js/script-edit.js"></script>
<script type="text/javascript">
$(function() {
	var engine = '$!script.engine';
	$('input[name="engine"][value="' + engine + '"]').attr('checked', 'checked');
	var templateText = "$!stringEscapeUtils.escapeJavaScript($script.sourceCode)";
	$('#template').val(templateText);
	function makeTemplateEditor(synMode) {
		window.templateEditor = CodeMirror.fromTextArea(
			$('#template').get(0),
			{
				mode: synMode,
				tabMode: "indent",
				lineNumbers: true,
				theme: 'eclipse'
			}
		);
	}
	makeTemplateEditor(engine || 'python');
	$('input[name="engine"]').on('click', function() {
		var s = $('input[name="engine"]:checked').val();
		window.templateEditor.setOption('mode', s || 'python');
	});
});
</script>