#set ($filterText = $request.getParameter('q'))
#set ($pager = $services.p.pageHelper.parseRequest($request))
#set ($pager.pageSize = 10)
#if ($filterText)
	#set ($qr = $services.p.sysParamService.pageFiltered($pager, $filterText))
#else
	#set ($qr = $services.p.sysParamService.pageAll($pager))
#end
#set ($pager = $qr.pager)
#set ($sysParams = $qr.result)
<link rel="stylesheet" href="../res/css/jquery.fileupload-ui.css"/>
<div class="container">
	<div class="row">
	<div class="page-header span10">
		<div class="span4">系统参数</div>
		<div class="btn-group span4">
			<a href="edit-sysparam" class="btn btn-primary"><i class="icon-plus icon-white"></i>创建参数</a>
			<a href="action/export-sysparams" class="hide btn btn-success" title="导出数据库中的所有参数。"><i class="icon-download icon-white"></i>导出</a>
			<a href="#dlg-import" data-toggle="modal" class="hide btn btn-success" title="导入一个zip/jar格式文件中的所有参数，将会覆盖同名参数。"><i class="icon-upload icon-white"></i>导入</a>
		</div>
	</div>
	<div class="span2">
		<form class="form form-search">
			<div class="input-append">
			    <input type="text" class="search-query" name="q" value="$!filterText"/>
			    <button class="btn btn-query">过滤</button>
			</div>
		</form>
	</div>
	</div>
	<div class="row">
		<table id="serverlist" class="table table-bordered table-striped table-hover">
			<thead><tr>
				<th>键</th><th>值</th><th>说明</th><th></th>
			</tr></thead>
			<tbody>
#if ($sysParams.size() > 0)
	#foreach ($sp in $sysParams)
				<tr><td>
					$sp.key
				</td><td>
		#set ($v = $sp.value)
		#if ($v)
			#set ($v = $stringEscapeUtils.escapeHtml($v))
		#end
		#if ($v.length() > 20)
					$v.substring(0, 20).replaceAll("\\n", "")...
		#else
					$!v
		#end
				</td><td>
					$!sp.description
				</td><td>
					<a class="btn btn-mini btn-primary" href="edit-sysparam?id=$sp.key">编辑</a>&nbsp;
					<a class="btn btn-mini" href="javascript:remove('$sp.key');">删除</a>
				</td></tr>
	#end
#else
				<tr><td colspan="4">未找到参数</td></tr>
#end
			</tbody>
		</table>
	</div>
#if ($pager.pageCount > 1)
	<div class="row">
		<div class="pagination pagination-centered">
			<ul>
#if ($pager.pageNum > 1)
#set ($pn = $pager.pageNum - 1)
				<li><a href="$services.p.pageHelper.constructPageUrl($request, 1)">&laquo;</a></li>
				<li><a href="$services.p.pageHelper.constructPageUrl($request, $pn)">&lsaquo;</a></li>
#else
				<li class="disabled"><a>&laquo;</a></li>
				<li class="disabled"><a>&lsaquo;</a></li>
#end
#foreach ($pn in [$pager.listFirst..$pager.listLast])
  #if ($pn == $pager.pageNum)
				<li class="active"><a href="$services.p.pageHelper.constructPageUrl($request, $pn)">$pn</a></li>
  #else
				<li><a href="$services.p.pageHelper.constructPageUrl($request, $pn)">$pn</a></li>
  #end
#end
#if ($pager.pageNum < $pager.pageCount)
#set ($pn = $pager.pageNum + 1)
				<li><a href="$services.p.pageHelper.constructPageUrl($request, $pn)">&rsaquo;</a></li>
				<li><a href="$services.p.pageHelper.constructPageUrl($request, $pager.pageCount)">&raquo;</a></li>
#else
				<li class="disabled"><a>&rsaquo;</a></li>
				<li class="disabled"><a>&raquo;</a></li>
#end
			</ul>
		</div>
	</div>
#end
</div>
<div id="dlg-import" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>导入组件</h3>
    </div>
    <div class="modal-body">
    	<div><span class="btn btn-success btn-large fileinput-button">
    		<i class="icon-upload icon-white"></i>
    		<span>上传压缩文件</span>
			<input type="file" id="importFile" name="importFile"
				data-url="action/import-sysparams"/>
		</span></div>
		<div id="filelist">
		</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" onclick="importSysParams();">确定</button>
    </div>
</div>
<!-- <script type="text/javascript" src="../res/js/upload/jquery.ui.widget.js"></script> -->
<!-- <script type="text/javascript" src="../res/js/upload/jquery.iframe-transport.js"></script> -->
<!-- <script type="text/javascript" src="../res/js/upload/jquery.fileupload.js"></script> -->
<!-- <script type="text/javascript" src="../res/js/upload/jquery.fileupload-fp.js"></script> -->
<!-- <script type="text/javascript" src="../res/js/upload/jquery.fileupload-ui.js"></script> -->
<script type="text/javascript" src="../res/js/sysparam-edit.js"></script>