<div class="offset2 span8">
<form class="form form-horizontal" name="form">
  <fieldset>
    <legend>角色</legend>
    <div class="control-group">
      <label class="control-label" for="txtname">名称</label>
      <div class="controls">
        <span type="text" class="input-xlarge uneditable-input" id="txtname">{{role.name}}</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtdisplayName">显示名称</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="txtdisplayName" ng-model="role.displayName"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtdescription">说明</label>
      <div class="controls">
        <textarea type="text" class="input-xlarge" id="txtdescription" ng-model="role.description"></textarea>
      </div>
    </div>
  </fieldset>
  <hr/>

  <div class="control-group">
    <div class="controls">
      <button class="btn btn-primary" ng-click="save();" ng-disabled="form.$invalid">保存</button>
      <span class="divider">&nbsp;</span>
      <a class="btn" onclick="history.go(-1);">取消</a>
    </div>
  </div>
</form>
</div>