<div class="offset2 span8">
<form class="form form-horizontal" name="form">
  <fieldset>
    <legend>账号</legend>
    <div class="control-group">
      <label class="control-label">登录名</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.loginName"></label>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <legend>基础信息</legend>
    <div class="control-group">
      <label class="control-label" for="txtname">姓名</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.info.name"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtaltName">称谓</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.info.altName"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtgender">性别</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.info.gender | entryText:genders"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtbirthDate">出生日期</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.info.birthDate"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtdisplayOrder">显示顺序</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.displayOrder"></label>
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <legend>联系方式</legend>
    <div class="control-group">
      <label class="control-label" for="txtaddress">地址</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.address"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtpostalCode">邮政编码</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.postalCode"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txttel">电话</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.tel"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtfax">传真</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.fax"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtmobile">手机</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.mobile"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtemail">电子邮箱</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.email"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtqq">QQ</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.qq"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtliveMessenger">Live Messenger</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.liveMessenger"></label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="txtskype">Skype</label>
      <div class="controls">
        <label class="checkbox" ng-bind="person.contact.skype"></label>
      </div>
    </div>
  </fieldset>
  
  <hr/>

  <div class="control-group">
    <div class="controls">
      <a class="btn" onclick="history.go(-1);">返回</a>
    </div>
  </div>
</form>
</div>